  html {

    body{
     // display:none;
     position: relative;
  //left:-5000px;
  
    }

    font-size: 16px;
    &.noScroll{
      overflow: hidden;
    }
  }

  h1 {
    color: rgba(0, 0, 0, .8);
    font-weight: 100;
  }

  time {
    &:before {
      //     font-family: 'FontAwesome';
      // color:green;
      // content:$fa-var-file;
    }
  }

  .block,
  {
    h3 {
      a {
        color: #0275d8;
        font-family: 'HelveticaNeueLT-LightExt';
      }
    }
    &.taxo {
      padding: 1px; //border:solid;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        opacity: 0.8;
      } //style for online ONLY
      header {
        position: absolute;
        top: 20px;
        left:30px;
        //padding-left: 30px;
        color: white;
      }
      h4 {
        color: white;
        line-height: 1.2;
        margin-top: -6px;
        padding-right: 20px;
        
      } //end style for online ONLY
      h2 {
        //style for offline ONLY
        position:absolute;
          top:20px;
        padding:30px;
        position:absolute;
        //End style for offline ONLY
        
        a {
          color: white;
          font-size: 1em;
          @include media-breakpoint-up(md) {
            font-size: 1.8em;
        }
          
          letter-spacing: 2px;
          font-weight: 800;
            font-family: 'geomanistregular';
          position: relative;
          padding-bottom: 35px;
          z-index: 0;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .views-field-field-movie-poster {
    a {
      display: block;
      height: 150px;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        height: auto;
        display: block;
        position: absolute;
      }
    }
  }

  .field-content.button {
    &:hover {
      //border-top: solid 2px yellow;
      &:before {
        content: "";
        background: red;
        height: 3px;
        width: 100%;
        position: absolute;
      }
    }
    &:before {
      content: "";
      background: red;
      height: 3px;
      left: 0;
      top: 0px;
      width: 0%;
      position: absolute;
      transition: width 2s;
      -webkit-transition-timing-function: cubic-bezier(.05, 1, .1, 1);
    }
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    display: block;
    background-color: #fff;
    border: solid 1px #0275d8;
    max-width: 150px;
    a {
      font-size: 14px;
      color: #0275d8;
      text-transform: uppercase;
      &:hover {
        text-decoration: none;
      }
    }
  }

  section.contact {
    #block-givemeashout {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      margin: auto;
      font-size: 13px;
      line-height: 2em;
      @include media-breakpoint-up(md) {
        width: 600px;
        font-size: 1em;
      line-height: auto;
      }

      div {
        padding: 30px;
        flex-grow: 1;
        width: 150px;
        color: #fff;
        text-align: center;
        border-bottom: 1px solid #fff;
        background-color: black;
        @include media-breakpoint-up(md) {
          border-right: 1px solid #fff;
          border-bottom: 0px solid #fff;
        }
        img {
         width: 100%; 
        border-radius: 100%;
        height: auto;
        }
        p {
          margin: 0px;
          text-transform: uppercase;
          font-family: 'HelveticaNeueLT-LightExt';
        }
        &:nth-child(3) {
          flex-grow: 1;
          text-align: left;
          width: 400px;
          background-color: #000; // @include make-col(8);

          display: flex;
    flex-direction: column;
    justify-content: center;
        }
      }
      h2 {
        text-align: right; //display:block;
        flex-basis: 100%;
        flex-grow: 2;
        text-transform: uppercase; //font-family: 'HelveticaNeueLT-LightExt';
        font-family: 'helveticaneuelt-ultraligext-webfont';
        color: #5788b7;
        font-size: 1rem;
        @include media-breakpoint-up(md) {
          font-size: 1.5rem;
        }
      }
    }
  }
