// section.top {
//   margin-left: auto;
//   margin-right: auto;
//   max-width: 1280px;
//   display: flex;
//   min-height: 110px;
//   #block-mytheme-branding {
//     @include make-col(2);
//     max-width: 10%;
//     .sitetitle {
//       text-indent: -99999em;
//       overflow: hidden;
//       position: absolute;
//     }
//     .logo {
//       display: block;
//       img {
//             width: 100%;
//     height: 100px;
//     padding: 10px;
        
//       }
//     }
//   }

.pager{
  width: 100%;
 
  ul.pager__items{
    //display: inline-block
    margin:0;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    text-align:center;
    @include make-col(10);
    //border:solid 1px;
    li{
      margin:0;
      padding: 0;
      display: inline-block;
      &.pager__item--previous,&.pager__item--next{
        display: none;
      }
      &.pager__item.is-active{
          
          //padding:10px;
          a{
            background-color:white;
            color:black;
            border:solid 1px;
            padding:4px 8px;
            //border-bottom: solid 1px red;
          }
        }
      a{
        padding:5px 10px;
        font-size: 12px;
        background-color: black;
        color:white;
        &:hover{
          text-decoration: none;
        }
        
      }
    }
  }
}