/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'FontAwesome';
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?v=#{$fa-version}');
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
    url('#{$fa-font-path}/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2'),
    url('#{$fa-font-path}/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
    url('#{$fa-font-path}/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
    url('#{$fa-font-path}/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
//  src: url('#{$fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'geomanistregular';
    src: url('#{$fa-font-path}/geomanist-regular-webfont.eot');
    src: url('#{$fa-font-path}/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fa-font-path}/geomanist-regular-webfont.woff') format('woff'),
         url('#{$fa-font-path}/geomanist-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Sweet Sensations Personal Use';
    src: url('#{$fa-font-path}/SweetSensationsPersonalUse.eot');
    src: url('#{$fa-font-path}/SweetSensationsPersonalUse.eot?#iefix') format('embedded-opentype'),
        url('#{$fa-font-path}/SweetSensationsPersonalUse.woff') format('woff'),
        url('#{$fa-font-path}/SweetSensationsPersonalUse.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLT-LightExt';
    src: url('#{$fa-font-path}/HelveticaNeueLT-LightExt.eot');
    src: url('#{$fa-font-path}/HelveticaNeueLT-LightExt.eot?#iefix') format('embedded-opentype'),
        url('#{$fa-font-path}/HelveticaNeueLT-LightExt.woff') format('woff'),
        url('#{$fa-font-path}/HelveticaNeueLT-LightExt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuelt-ultraligext-webfont';
    src: url('#{$fa-font-path}/helveticaneuelt-ultraligext-webfont.eot');
    src: url('#{$fa-font-path}/helveticaneuelt-ultraligext-webfont.eot?#iefix') format('embedded-opentype'),
        url('#{$fa-font-path}/helveticaneuelt-ultraligext-webfont.woff') format('woff'),
        url('#{$fa-font-path}/helveticaneuelt-ultraligext-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'levirebrushed';
    src: url('#{$fa-font-path}/LeviReBrushed.eot');
    src: url('#{$fa-font-path}/LeviReBrushed.eot?#iefix') format('embedded-opentype'),
        url('#{$fa-font-path}/LeviReBrushed.woff') format('woff'),
        url('#{$fa-font-path}/LeviReBrushed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
