
<div class="heighlightParagraph">
                <h2>Bouwgarant bij Bouwberijf K. Entius</h2>
                <h3>De zekerheden van een Bouwend Nederland aannemer
                    (met kwalificatie "Hoofdaannemer")</h3>
                <p>U wilt (ver)bouwen? Dan wilt u natuurlijk de zekerheid dat er niets mis gaat, en dat de aannemer het
                    werk precies volgens uw wensen uitvoert. Maar u wilt zich ook ergens op kunnen beroepen bij verschil
                    van mening over de uitvoering van het werk. <mark>Bouwgarant</mark> vertaalt uw vertrouwen in harde
                    garanties.</p>
                <h3 class="heighlight">"Bouwbedrijf K. Entius geeft die zekerheden. "</h3>
                <a class="leesmeer" href="over-ons.html">Meer over K. Entius</a>
                <p></p>
                <p>Persbericht: na 40jaar is bouwbedrijf Entius een samenwerkingsverband aangegaan.</p>
                <a class="leesmeer" href="persbericht-na-veertig-jaar-nieuwe-samenwerking-aangegegaan.html">Persbericht</a>
            </div>
